<section id="tech" class="container mx-auto px-6 py-20">
  <!-- Titre section -->
  <h2 class="text-4xl font-bold text-center mb-16">{{ langService.t.stack }}</h2>
   <!-- Cards -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <!-- CARD PHP -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">PHP</h3>
      <p class="text-slate-400">{{ langService.t.phpDesc }}</p>
    </div>
    <!-- Symfony -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">Symfony</h3>
      <p class="text-slate-400">{{ langService.t.symfonyDesc }}</p>
    </div>
    <!-- Python -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">Python</h3>
      <p class="text-slate-400">{{ langService.t.pythonDesc }}</p>
    </div>
    <!-- Django -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">Django</h3>
      <p class="text-slate-400">{{ langService.t.djangoDesc }}</p>
    </div>
    <!-- Angular -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">Angular</h3>
      <p class="text-slate-400">{{ langService.t.angularDesc }}</p>
    </div>
    <!-- Docker -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">Docker</h3>
      <p class="text-slate-400">{{ langService.t.dockerDesc }}</p>
    </div>
    <!-- MySQL -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">MySQL</h3>
      <p class="text-slate-400">{{ langService.t.mysqlDesc }}</p>
    </div>
    <!-- PostgreSQL -->
    <div class="bg-slate-900 p-8 rounded-2xl text-center hover:scale-105 hover:-translate-y-2 transition duration-300">
      <h3 class="text-2xl font-semibold text-cyan-400 mb-3">PostgreSQL</h3>
      <p class="text-slate-400">{{ langService.t.postgresDesc }}</p>
    </div>
  </div>
</section>